@import "../assets/styles/colors";
@import '../assets/styles/mixins/media';

.header {
  border-bottom: 1px solid $black-10;
  padding: 16px 0;

  @include sm {
    padding: 24px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 20px;
    height: auto;

    @include sm {
      width: 40px;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__hint {
    display: none;
  }
}
