// this scss file is only needed
// for proper view of html content
// on the single news page

@import 'variables';

p, img {
  max-width: 100%;
}

.photo {
  display: block;
}

.news-item__content {
  p {
    margin: $size-1 0;
  }
}
